{% extends 'tours/base.html' %}

{% block container %}
    <section class="jumbotron text-center mt-4" style="background: url('https://i.picsum.photos/id/906/1600/500.jpg?hmac=gYFhwrP52ri6GI5QUa11Iw6k2mTlk89OOwkUi-Josmw'); background-position: center center">
      <h1 class="display-4">Всякие туры</h1>
      <p class="lead">{{ subtitle }}</p>
      <p class="mt-5 w-50 mx-auto">{{ description }}</p>
    </section>
    <!-- CARDS -->
    <div class="row mt-5">
      {% for key, value in rand_tours.items %}
      <div class="col-4">
        <div class="card mb-4">
          <div class="embed-responsive embed-responsive-16by9">
             <img class="card-img-top embed-responsive-item" src="{{ value.picture }}" alt="" />
          </div>
          <div class="card-body">
            <h2 class="h5 card-title">{{ value.title }}</h2>
            <p class="card-text">{{ value.description }}</p>
            <a href="tour/{{ key }}" class="btn btn-sm btn-primary">Подробнее</a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
{% endblock %}
